/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
    overflow: hidden !important;
}
$main-color: #3b82f6;
.bg-main {
    background-color:$main-color;
}
.text-main {
    color: $main-color;
}