/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$main-color: #3b82f6;

$second-color:#0f172a ;
$three-color: #eef1f9;
.bg-body {
    background-color: $three-color;
}
.bg-main {
    background-color:$main-color;
}
.text-main {
    color: $main-color;
}
.text-second {
    color: $second-color;
}
.bg-second {
    background-color: $second-color;
}
.animate-1 {
    transition: all 0.2s ease;
}
.text-default-600 {
    --tw-text-opacity: 1 !important;
    color: #475569 !important;
}

